{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

    <div class="container">
        <div class="row">

            <div class="col-8 mx-auto">

                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Offer creation</h3>
                        <h4 class="card-subtitle mb-2 text-muted">Add new</h4>
                        <div class="card-text">
                            {{ form_start(form) }}
                            <div class="border border-white row">
                                <label for="vOfferCode"
                                       class="col-4 col-form-label">{{ form_label(form.vOfferCode) }}</label>
                                <div class="col-8">
                                    {{ form_widget(form.vOfferCode) }}
                                </div>
                            </div>
                            <div class="border border-white  row">
                                <label for="vOfferType"
                                       class="col-4 col-form-label">{{ form_label(form.vOfferType) }}</label>
                                <div class="col-8">
                                    {{ form_widget(form.vOfferType) }}
                                </div>
                            </div>
                            <div class="border border-white  row">
                                <label for="dActivationDate" class="col-4 col-form-label">{{ form_label(form.dActivationDate) }}</label>
                                <div class="col-8 textarea">
                                    <div class="input-group date" data-provide="datepicker">
                                        {{ form_widget(form.dActivationDate) }}
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="border border-white  row">
                                <label for="dDueDate" class="col-4 col-form-label">{{ form_label(form.dDueDate) }}</label>
                                <div class="col-8 textarea">
                                    <div class="input-group date" data-provide="datepicker">
                                        {{ form_widget(form.dDueDate) }}
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="border border-white  row">
                                <label for="vPosition"
                                       class="col-4 col-form-label">{{ form_label(form.vPosition) }}</label>
                                <div class="col-8">
                                    {{ form_widget(form.vPosition) }}
                                </div>
                            </div>
                            <div class="border border-white  row">
                                <label for="ltextDescription"
                                       class="col-4 col-form-label">{{ form_label(form.ltextDescription ) }}</label>
                                <div class="col-8">
                                    {{ form_widget(form.ltextDescription, {'attr':{'class':'wysiwyg'}}) }}
                                </div>
                            </div>
                            <div class="border border-white  row">
                                <label for="ltextDuties"
                                       class="col-4 col-form-label">{{ form_label(form.ltextDuties ) }}</label>
                                <div class="col-8">
                                    {{ form_widget(form.ltextDuties, {'attr':{'class':'wysiwyg'}}) }}
                                </div>
                            </div>
                            <div class="border border-white  row">
                                <label for="ltextExperienceRequirements"
                                       class="col-4 col-form-label">{{ form_label(form.ltextExperienceRequirements) }}</label>
                                <div class="col-8">
                                    {{ form_widget(form.ltextExperienceRequirements, {'attr':{'class':'wysiwyg'}}) }}
                                </div>
                            </div>
                            <div class="border border-white  row">
                                <label for="vSalaray"
                                       class="col-4 col-form-label">{{ form_label(form.vSalaray) }}</label>
                                <div class="col-8">
                                    {{ form_widget(form.vSalaray) }}
                                </div>
                            </div>
                            <div class="border border-white  row">
                                <label for="vLocation"
                                       class="col-4 col-form-label">{{ form_label(form.vLocation) }}</label>
                                <div class="col-8">
                                    {{ form_widget(form.vLocation) }}
                                </div>
                            </div>

                            <div class="border border-white  row">
                                <div class="col-sm-4 textarea">
                                    {{ form_widget(form.save) }}
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}


    {% block javascripts %}
        {{ parent() }}
          <script>
          $('#appbundle_offermgr_offers_dActivationDate.date').datepicker({
            weekStart: 1,
            startDate: "-Now",
            maxViewMode: 2,
          });
          $('#appbundle_offermgr_offers_dDueDate.date').datepicker({
            weekStart: 1,
            startDate: "-Now",
            maxViewMode: 2,
          });

            var sceditor_list = document.getElementsByClassName('wysiwyg');
            for (let item of sceditor_list) {
              console.log(item.id);
              sceditor.create(item, {
                format: 'xhtml',
                style: '../../build/app.css',
                width: '100%',
                height: '100%',
                toolbarExclude: "emoticon",
                emoticonsEnabled: false
              });
            }


        </script>
    {% endblock %}




