{% extends 'base.html.twig' %}
{% block navbar %}
    {% include 'navbar/empty.html.twig' %}
{% endblock %}
{% block body %}
    {{ parent() }}

<div class="container">
    <div class="row">

        <div class="col-8 mx-auto">

            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Studies</h3>
                    <h4 class="card-subtitle mb-2 text-muted">Add new</h4>
                    <div class="card-text">
                        {{ form_start(form, {'action': path('studies_task_add'), 'method': 'POST'}) }}

                        <div class="border border-white row">
                            <label for="vStudiesLevel" class="col-2 col-form-label">{{ form_label(form.vStudiesLevel) }}</label>
                            <div class="col-10">
                                {{ form_widget(form.vStudiesLevel) }}
                            </div>
                        </div>
                        <div class="border border-white  row">
                            <label for="vCategory" class="col-2 col-form-label">{{ form_label(form.vCategory) }}</label>
                            <div class="col-10">
                                {{ form_widget(form.vCategory) }}
                            </div>
                        </div>
                        <div class="border border-white  row">
                            <label for="vStudiesCode" class="col-2 col-form-label">{{ form_label(form.vStudiesCode) }}</label>
                            <div class="col-10">
                                {{ form_widget(form.vStudiesCode) }}
                            </div>
                        </div>
                        <div class="border border-white  row">
                            <label for="vStudiesCentre" class="col-2 col-form-label">{{ form_label(form.vStudiesCentre) }}</label>
                            <div class="col-10">
                                {{ form_widget(form.vStudiesCentre) }}
                            </div>
                        </div>


                        <div class="border border-white  row">
                            <label for="vDescription" class="col-2 col-form-label">{{ form_label(form.vDescription) }}</label>
                            <div class="col-10 ">
                                {{ form_widget(form.vDescription, {'attr':{'class':'wysiwyg'}}) }}
                            </div>
                        </div>

                        <div class="border border-white  row">
                            <label for="dStartDate" class="col-2 col-form-label">{{ form_label(form.dStartDate) }}</label>
                            <div class="col-10 textarea">
                                <div class="input-group date" data-provide="datepicker">
                                    {{ form_widget(form.dStartDate) }}
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border border-white  row">
                            <label for="dEndDate" class="col-2 col-form-label">{{ form_label(form.dEndDate) }}</label>
                            <div class="col-10 textarea">
                                <div class="input-group date" data-provide="datepicker">
                                    {{ form_widget(form.dEndDate) }}
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="border border-white  row">
                            <div class="col-4 textarea">
                                {{ form_widget(form.save) }}
                            </div>
                            <div class="col-4 textarea">
                                {{ form_widget(form.saveAndAdd) }}
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>

            </div>

        </div>
    </div>
</div>

{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script >
          $('#appbundle_studies_dStartDate.date').datepicker({
            weekStart: 1,
            startDate: "-Now",
            maxViewMode: 2,
          });
          $('#appbundle_studies_dEndDate.date').datepicker({
            weekStart: 1,
            startDate: "-Now",
            maxViewMode: 2
          });
          var sceditor_list = document.getElementsByClassName('wysiwyg');
          for (let item of sceditor_list) {
            console.log(item.id);
            sceditor.create(item, {
              format: 'xhtml',
              style: '../../../build/app.css',
              width: '100%',
              height: '100%',
              toolbarExclude: "emoticon",
              emoticonsEnabled: false
            });
          }
        </script>
    {% endblock %}