{% extends 'base.html.twig' %}

{% block body %}
    <h1>Employeers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Vcif</th>
                <th>Vname</th>
                <th>Vlogo</th>
                <th>Vdescription</th>
                <th>Vcontactname</th>
                <th>Vcontactphone</th>
                <th>Vcontactmail</th>
                <th>Vlocation</th>
                <th>Nnumberofworkers</th>
                <th>Creationuser</th>
                <th>Modificationuser</th>
                <th>Creationdate</th>
                <th>Modificationdate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employeer in employeers %}
            <tr>
                <td><a href="{{ path('usermgr_employeers_show', { 'id': employeer.id }) }}">{{ employeer.id }}</a></td>
                <td>{{ employeer.vCIF }}</td>
                <td>{{ employeer.vName }}</td>
                <td>{{ employeer.vLogo }}</td>
                <td>{{ employeer.vDescription }}</td>
                <td>{{ employeer.vContactName }}</td>
                <td>{{ employeer.vContactPhone }}</td>
                <td>{{ employeer.vContactMail }}</td>
                <td>{{ employeer.vLocation }}</td>
                <td>{{ employeer.nNumberOfWorkers }}</td>
                <td>{{ employeer.creationUser }}</td>
                <td>{{ employeer.modificationUser }}</td>
                <td>{% if employeer.creationDate %}{{ employeer.creationDate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if employeer.modificationDate %}{{ employeer.modificationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('employeers_show', { 'id': employeer.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('employeers_edit', { 'id': employeer.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('employeers_new') }}">Create a new employeer</a>
        </li>
    </ul>
{% endblock %}
