{% for cv in cvs %}
     <div class="card">
        <div class="card-header bg-dark text-white">
            <div class="row">
                <div class="col-10">
                    Work experiences
                </div>
                <div class="col-2 d-flex justify-content-end">
                    <a href="{{ path('stdnts_wrkexp_new', {'id_std':cv.formerstudent.id, 'id_cv':cv.id }) }}" type="button" class="btn btn-sm btn-primary" >New</a>
                </div>
            </div>
        </div>
        <div class="card-body">
                {{ include('cvmgr/workexperiences/edit.html.twig', {'workexperiences': cv.workexperiences}) }}
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-dark text-white">
            <div class="row">
                <div class="col-10">
                    Studies
                </div>
                <div class="col-2 d-flex justify-content-end">
                    <a href="{{ path('stdnts_study_new', {'id_std':cv.formerstudent.id, 'id_cv':cv.id }) }}" type="button" class="btn btn-sm btn-primary" >New</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            {{ include('cvmgr/studies/edit.html.twig', {'studies': cv.studies}) }}
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-dark text-white">
            <div class="row">
                <div class="col-10">
                    Language
                </div>
                <div class="col-2 d-flex justify-content-end">
                    <a href="{{ path('stdnts_language_new', {'id_std':cv.formerstudent.id, 'id_cv':cv.id }) }}" type="button" class="btn btn-sm btn-primary" >New</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            {{ include('cvmgr/languages/edit.html.twig', {'languages': cv.languages}) }}
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-dark text-white">
            <div class="row">
                <div class="col-10">
                    Other knowledge
                </div>
                <div class="col-2 d-flex justify-content-end">
                    <a href="{{ path('stdnts_otherknowledge_new', {'id_std':cv.formerstudent.id, 'id_cv':cv.id }) }}" type="button" class="btn btn-sm btn-primary" >New</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            {{ include('cvmgr/otherknowledge/edit.html.twig', {'otherknowledges': cv.otherknowledges}) }}
        </div>
    </div>
{% endfor %}

