
    <ul class="list-group my-2">
        <li class="list-group-item bg-light">
            <ul class="list-inline">
                <li class="list-inline-item">{% if workexperience.dStartDate %}{{ workexperience.dStartDate|date('Y-m-d') }} {% endif %} -  {% if workexperience.dEndDate %}{{ workexperience.dEndDate|date('Y-m-d') }}{% endif %}</li>
                <li class="list-inline-item"><h4> {{ workexperience.vPosition }} </h4></li>
                <li class="list-inline-item"><h6> {{ workexperience.vEmployer }} </h6></li>
                <li class="list-inline-item">{{ workexperience.vLocation }}</li>
            </ul>
        </li>
        <li class="list-group-item ">
            {{ workexperience.ltextDuties  |raw }}
        </li>
    </ul>


