{% extends 'base.html.twig' %}

{% block body %}

    {{ parent() }}


    <div class="container jumbotron">
                <h1 class="display-5">Formerstudents list</h1>
                <a class="btn btn-outline-dark" href="{{ path('formerstudents_new') }}">Create a new formerStudent</a>
             </div>
        </div>
    </div>
    <div class="container  bg-light">
        <div  class="row ">
            <div class="col-md-8 mx-auto">
                <table class="table table-responsive">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">NIF</th>
                        <th scope="col">Name </th>
                        <th scope="col">Surnames</th>
                        <th scope="col">Address</th>
                        <th scope="col">Birthdate</th>
                        <th scope="col">Vehicle</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for formerStudent in formerStudents %}
                        <tr  scope="row" class="mx-auto">
                            <td><a href="{{ path('formerstudents_show', { 'id': formerStudent.id }) }}">{{ formerStudent.vNif }}</a></td>
                            <td>{{ formerStudent.vName }}</td>
                            <td>{{ formerStudent.vSurnames }}</td>
                            <td>{{ formerStudent.vAddress }}</td>
                            <td>{% if formerStudent.dBirthDate %}{{ formerStudent.dBirthDate|date('Y-m-d') }}{% endif %}</td>
                            <td>{% if formerStudent.bVehicle %}Yes{% else %}No{% endif %}</td>
                            <td>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="" href="{{ path('formerstudents_show', { 'id': formerStudent.id }) }}">show</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="" href="{{ path('formerstudents_edit', { 'id': formerStudent.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

    </div>

{% endblock %}
