{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

    <div class="container">
        <div class="row">

            <div class="col-8 mx-auto">

                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Formerstudent creation</h3>
                        <h4 class="card-subtitle mb-2 text-muted">Add new</h4>
                        <div class="card-text">
                            {{ form_start(form) }}

                            <div class="border border-white row">
                                <label for="vNif" class="col-2 col-form-label">{{ form_label(form.vNif) }}</label>
                                <div class="col-10">
                                    {{ form_widget(form.vNif) }}
                                </div>
                            </div>
                            <div class="border border-white  row">
                                <label for="vName" class="col-2 col-form-label">{{ form_label(form.vName) }}</label>
                                <div class="col-10">
                                    {{ form_widget(form.vName) }}
                                </div>
                            </div>
                            <div class="border border-white  row">
                                <label for="vSurnames" class="col-2 col-form-label">{{ form_label(form.vSurnames) }}</label>
                                <div class="col-10">
                                    {{ form_widget(form.vSurnames) }}
                                </div>
                            </div>
                            <div class="border border-white  row">
                                <label for="vAddress" class="col-2 col-form-label">{{ form_label(form.vAddress) }}</label>
                                <div class="col-10">
                                    {{ form_widget(form.vAddress) }}
                                </div>
                            </div>


                            <div class="border border-white  row">
                                <label for="dBirthDate"
                                       class="col-2 col-form-label">{{ form_label(form.dBirthDate) }}</label>
                                <div class="col-10">
                                    <div class="input-group date" data-provide="datepicker">
                                        {{ form_widget(form.dBirthDate) }}
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="border border-white  row">
                                <div class="col-2 " >
                                    <label for="bVehicle" >{{ form_label(form.bVehicle) }}</label>
                                </div>
                                <div class="col-2 mt-2" >
                                    {{ form_widget(form.bVehicle) }}
                                </div>
                            </div>

                            <div class="border border-white  row">
                                <div class="col-4 textarea">
                                    {{ form_widget(form.save) }}
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>

                </div>

            </div>
        </div>
    </div>

    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
    <script >
      $('#appbundle_formerstudents_dBirthDate.date').datepicker({
        weekStart: 1,
        startDate: "-Now",
        maxViewMode: 2,

      });
      var sceditor_list = document.getElementsByClassName('wysiwyg');
      for (let item of sceditor_list) {
        console.log(item.id);
        sceditor.create(item, {
          format: 'xhtml',
          style: '../../../build/app.css',
          width: '100%',
          height: '100%',
          toolbarExclude: "emoticon",
          emoticonsEnabled: false
        });
      }
    </script>
{% endblock %}
