{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <ul class="list-inline-group mt-5 card-footer mb-0">
            <li class="list-inline-item">
                <a class="btn btn-outline-primary" href="{{ path('show_candidates', { 'id' : offerid }) }}" >Back</a>
            </li>
        </ul>
        <div class="row">

            <div class="col-4">
                <h4 class="display-4">{{ cv.formerStudent.vName }}
                    <small> {{ cv.formerStudent.vSurnames }} </small>
                </h4>
                <ul class="list-inline">
                    <li class="list-inline-item">{{ cv.formerStudent.vNif }} </li>
                    <li class="list-inline-item ml-auto">{{ cv.formerStudent.dBirthDate|date('Y-m-d') }}</li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item">{{ cv.formerStudent.vAddress }} </li>
                    <li class="list-group-item">Vehicle:
                        <td>{% if cv.formerStudent.bVehicle %}Yes{% else %}No{% endif %}</td>
                    </li>
                </ul>
            </div>
            <div class="col-8">
                <div class="container">
                    <div class="row">

                        <div class="col-10 mx-auto">
                            <div class="card bg-light">
                                <div class="card-header bg-dark text-white">Work experiences</div>
                                <div class="card-body">
                                    {% for workexperience in cv.workexperiences %}
                                        {{ include('cvmgr/workexperiences/show.html.twig', { 'workexperience': workexperience }) }}
                                    {% endfor %}

                                </div>
                                <div class="card-header bg-dark text-white">Studies</div>
                                <div class="card-body">
                                    {% for study in cv.studies %}
                                        {{ include('cvmgr/studies/show.html.twig', { 'study': study }) }}
                                    {% endfor %}

                                </div>
                                <div class="card-header bg-dark text-white">Languages</div>
                                <div class="card-body">
                                    {% for language in cv.languages %}
                                        {{ include('cvmgr/languages/show.html.twig', { 'language': language }) }}
                                    {% endfor %}

                                </div>
                                <div class="card-header bg-dark text-white">Other knowledges</div>
                                <div class="card-body">
                                    {% for otherknowledge in cv.otherknowledges %}
                                        {{ include('cvmgr/otherknowledge/show.html.twig', { 'otherknowledge': otherknowledge }) }}
                                    {% endfor %}

                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>



{% endblock %}



