        {% for workExperience in  workexperiences %}

                    <form class="card my-2" method="post" action="{{ path('stdnts_wrkexp_edit', {'id_std':CV.formerstudent.id, 'id_wrkexp':workExperience.id }) }}">
                        <div  class="card-header pb-0">
                            <div class="form-group row mb-1">
                                <label for="vPosition" class="col-sm-2 col-form-label">Position: </label>

                                <div class="col-sm-10">

                                    {% if workExperience.vPosition is iterable %}
                                        <select class="form-control" id="supervisor">

                                            {% for onePosition in workExperience.vPosition  %}
                                                {% set selected = '' %}
                                                {% if (onePosition.value) == workExperience.vPosition %}
                                                    {% set selected = 'selected' %}
                                                {% endif %}
                                                <option name="position"  value="{{onePosition.value}}" {{ selected }}>{{onePosition.value}}</option>
                                            {% endfor %}

                                        </select>
                                    {% else %}
                                        {% if workExperience.vPosition ==  "to complete" %}
                                             <input  type="text" class="form-control" name="position" value="{{ workExperience.vPosition }}">
                                        {% else %}
                                            <input readonly type="text" class="form-control" name="position" value="{{ workExperience.vPosition }}">
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="card-body ">
                            <div class="card-text">
                                <div class="form-group row">
                                    <label for="vEmployer" class="col-sm-2 col-form-label">Employer </label>
                                    <div class="col-sm-10">
                                      <input type="text" class="form-control" name="employer" value="{{ workExperience.vEmployer }}">
                                    </div>
                                </div>
                                <div class="row ">
                                    <label for="vLocation" class="col-sm-2 col-form-label">Location </label>
                                    <div class="col-sm-10">
                                      <input type="text" class="form-control" name="location" value="{{ workExperience.vLocation }}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ltextDuties" class="col-sm-2 col-form-label">Duties</label>
                                    <div class="col-sm-10 textarea">
                                      <input type="textarea" class="wysiwyg form-control" name="duties" value="{{ workExperience.ltextDuties }}">
                                    </div>
                                </div>

                                <div class="row">
                                    <label for="dStartDate" class="col-sm-2 col-form-label">StartDate </label>
                                    <div class="col-sm-10 textarea">
                                        <div class="input-group date" data-provide="datepicker">
                                            <input class="form-control dStartDate"  name="startdate" value="{{ workExperience.dStartDate|date("m/d/Y") }}">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-th"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="dEndDate" class="col-sm-2 col-form-label">EndDate  </label>
                                    <div class="col-sm-10 textarea">
                                        <div class="input-group date" data-provide="datepicker">
                                            <input class="form-control dEndDate" name="enddate"  value="{{ workExperience.dEndDate|date("m/d/Y") }}">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-th"></span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer bg-transparent d-flex justify-content-end">
                            <button type="submit" class="btn btn-outline-secondary m-2">Save</button>
                            <a class="btn btn-outline-danger m-2" href="{{ path('stdnts_wrkexp_delete', {'id':workExperience.id, 'username':app.user.username}) }}">Delete</a>
                        </div>


                    </form>

        {% endfor %}
